*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
  overflow-x: hidden;
 }

 /*nav hover style*/
 .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #2dc653;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dc653;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navCol{
 background:transparent;
 backdrop-filter: blur(10px);
}

/*nav hover style ends*/



.login-row{
    background: #d8f3dc;
    height: 50%;
    border-radius: 30px;
    -webkit-box-shadow: 15px 15px 30px -9px rgba(52,240,31,1);
-moz-box-shadow: 15px 15px 30px -9px rgba(52,240,31,1);
box-shadow: 15px 15px 30px -9px rgba(52,240,31,1);
}
.animate_animated{
    animation-duration: 10s;
}
.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login h1{
    font-size: 4rem;
    font-weight: 700 ;
}
.login h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
 
  .inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);
box-shadow: -1px 1px 30px -11px rgba(0,0,0,0.75);

  }
  .btn1{
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 60px;
    font-weight: 600;
    background-color:green;
    color: white;
  }
  .btn1:hover{
    background-color: #66de78;
    transition: 0.5s;
  }
.fa-facebook{
    font-size: 2.5rem;
    color: green;
}  
.fa-google-plus{
    font-size: 2.5rem;
    color: green;
}